#root {
  width: 100vw;
}

section {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

.search-section {
  display: flex;
  justify-content: center;
  background-color: #424141;
  height: 5rem;
}

.result-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  & > article {
    border: 2px solid #f9f9f9;
    border-radius: 5px;
    width: 15rem;
    margin: 5px;
    padding: 5px;
    & > h4 {
      text-align: center;
      color: #2fa4a4;
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  & > button {
    margin: 5px;
    &.active {
      background-color: #494848;
    }
  }
}

.search-block {
  width: 80%;
  display: flex;
  align-items: center;
  & > button {
    border-radius: 0;
    color: #2fa4a4;
  }
  & > input {
    height: 38px;
    width: 40%;
    font-size: 20px;
    margin-left: 5px;
  }
  & > label {
    font-size: 22px;
  }
}
